body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

.url-form {
  margin-top: 20px;
}

input[type="text"] {
  padding: 8px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

main {
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
}

.url-list {
  margin-top: 20px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}
.url-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.url-container {
  display: flex;
  align-items: center;
}

.copy-icon {
  margin: 0 10px;
  cursor: pointer;
}

.short-url-container {
  display: none;
  margin-top: 20px;
  text-align: center;
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.short-url {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4caf50;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.short-url:hover {
  background-color: #e0e0e0;
}

.original-url {
  font-size: 1rem;
  color: #777;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color 0.3s ease;
}

.original-url:hover {
  color: #555;
}